@import '../../scss/variables.scss';

// @file
// Form

.form {
  padding: 2rem 0 0;

  ::placeholder {
    color: $purple-light-1;
    font-size: $font-size-sm;
    font-weight: 700;
  }

  input {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px $purple-light-2;
    box-shadow: none;
    color: $purple-light;
    font-size: $font-size-sm;
    font-family: $base-font-family;
    font-weight: 700;
    margin: 0 0 2.5rem;
    padding: 0 0 .5rem;
    width: 100%;
  
    &:focus {
      border-color: $purple-light;
      outline: none;
    }
  }

  .button {
    background-image: linear-gradient(to right, $purple-light, $purple-light-3);
    border: 0;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    margin: 0 0 1rem;
    padding: 1rem 0;
    transition: all 0.4s ease-in-out;
    
    &.button--register {
      background-image: linear-gradient(to right, $purple-light, $purple-light-3);
      background-image: linear-gradient(to right, $pink, $pink-light 90%);
    }
    
    &.button--update {
      display: inline-block;
      margin-right: 1rem;
      padding: 1rem 2rem;
      width: auto;
    }
  }
}

.form__text {
  color: $blue;

  a {
    font-weight: 700;
  }
}

.form__link {
  @include button-clear();

  color: $blue-dark;
  font-weight: 700;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.update {
  h2 {
    position: relative;
    padding: 5rem 0 0;
    z-index: 2;

    &::before {
      background-image: url('../../images/icon-update-puzzle.svg');
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: rem(154px);
      left: rem(-97px);
      position: absolute;
      top: 0;
      width: rem(151px);
      z-index: -1;
    }
  }
}