// @file
// Colors

$white: #fffff7;
$gray: #EEEEEE;

$blue: #2A2A68;
$blue-dark: #0A0B3B;
$purple-light: #84A3FD;
$purple-light-1: #D2DEF9;
$purple-light-2: #ECF0FC;
$pink: #F877BA;
$pink-light: #FFC7CA;