// @file
// Colors

$white: #fffffc;
$gray: #EEEEEE;
$gray-2: #6E6E6E;
$gray-3: #F6F6F6;
$gray-4: #F8F8F7;

$blue: #2A2A68;
$blue-dark: #0A0B3B;
$purple-light: #84A3FD;
$purple-light-1: #D2DEF9;
$purple-light-2: #ECF0FC;
$purple-light-3: #B6C8F8;
$pink: #F877BA;
$pink-light: #FFC7CA;
$orange: #FF9458;